h1{
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p{
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
}
button{
    border-radius: 0% !important;
}
button:hover{
    background-color: green !important;
    border-radius: 0% !important;

}